# 18.集合

## 18.1 定义方法

In [1]:
mySet1={1,2,3,4,1,2,23}
mySet1

{1, 2, 3, 4, 23}

In [2]:
mySet2=mySet1
mySet2

{1, 2, 3, 4, 23}

In [3]:
myList1=[1,2,3,3,2,2,1,1]
mySet3=set(myList1)
mySet3

{1, 2, 3}

In [4]:
mySet4=set("chaolemen")
mySet4

{'a', 'c', 'e', 'h', 'l', 'm', 'n', 'o'}

## 18.2 主要特征

In [5]:
2 in mySet3

True

In [6]:
mySet4[2]

TypeError: 'set' object does not support indexing

In [7]:
mySet5={1,2,3}
mySet6={1,2,1,1,3}
mySet5==mySet6

True

## 18.3 基本运算

In [8]:
mySet7={1,3,5,10}
mySet8={2,4,6,10}

In [9]:
3 in mySet7

True

In [10]:
3 not in mySet7

False

In [11]:
mySet7 == mySet8

False

In [12]:
mySet7 != mySet8

True

In [13]:
{1,5} < mySet7

True

In [14]:
mySet7|mySet8

{1, 2, 3, 4, 5, 6, 10}

In [15]:
mySet7&mySet8

{10}

In [16]:
mySet7-mySet8

{1, 3, 5}

In [17]:
mySet7^mySet8

{1, 2, 3, 4, 5, 6}

In [18]:
print({1,3}.issubset(mySet7))

True

In [19]:
print({1,3,2,4}.issuperset(mySet7))

False

In [20]:
mySet9={1,2,3,4}
mySet9.add(4)
mySet9.remove(1)
mySet9

{2, 3, 4}

In [21]:
mySet10=frozenset({1,2,3,4})
mySet10

frozenset({1, 2, 3, 4})

In [22]:
mySet10.add(5)

AttributeError: 'frozenset' object has no attribute 'add'

## 18.4 应用场景

In [23]:
myList=["d","a","t","a"]
mySet11=set(myList)
mySet11

{'a', 'd', 't'}